/* Universal*/
* {
  font-family: 'Abel', 'Bebas Neue', sans-serif;
  box-sizing: border-box;
}

/* Clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/*=============
 Element Styles
============*/
h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #d48855;
}

h2 {
  padding-top: 1em;
}

img {
  width: 100%;
  height: auto;
}

ul,
nav {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

body {
  background: #f7f7f7;
}

/*=============
 Layout Styles
============*/
/* Nav */
.main-nav li {
  text-transform: uppercase;
  background-color: #fff;
  margin-bottom: .2em;
  padding: .5em 0;
}

.main-nav li:active {
  background-color: #d48855;
}

/* Elements */
.fig-port {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
}
  .fig-port img {
    width: 70%;
  }

  .fig-port figcaption {
    padding-top: 1em;
  }

.skills {
  padding-bottom: 1em;
  width: 90%;
  margin: 2em auto;
} 

.skills ul li {
  background: #d48855;
  color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 2px;
}

.content {
  padding-bottom: 1em;
}

.main-footer li {
  display: inline;
}

.contact {
  color: black;
  padding-left: .5em;
}

.footer-bottom {
  padding: 1em;
}

  .footer-bottom span {
    float: left;
    text-transform: uppercase;
    color: black;
  }

  #to-top {
    text-transform: uppercase;
    float: right;
  }

#footer-nav {
  display: none;
}

/* Containers */
.main-header,
.main-footer {
  width: 100%;
  padding: 1em;
  color: #888;
}

.main-header,
.main-footer,
.skills,
.wrapper {
  text-align: center;
}

.wrapper,
.skills {
  background-color: white;
}

.footer-bottom {
  border-top: #dddddd 1px solid;
  margin-top: 2em;
}

/*=============
 Media Queries
============*/
/* Tablet 768px */
@media (min-width: 768px) {
  *{
    font-size: 1.02em;
  }

  .main-nav li {
    display: inline-block;
    background-color: transparent;
    margin-left: 1em;
    margin-right: 1em;
    border-radius: 5px;
  }

  .fig-port {
    text-align: left;
  }

    .fig-port img {
      float: right;
      width: 40%;
      margin-left: 1em;
    }

  .content {
    display: inline-block;
    width: 39%;
  }

  .main-footer p {
    width: 50%;
    margin: 2em auto;
  }

  #to-top {
    display: none;
  }

  #footer-nav {
    display: block;
    float: right;
    margin: 0;
  }

  #footer-nav li {
    padding: 0;
  }

}

/* Laptop 1024px */
@media (min-width: 1024px) {
  *{
    font-size: 1.03em;
  }

  .skills {
    width: 50%;
  }
  
  #top-nav {
    display: block;
    float: right;
    margin-right: 2em;
  }

  .main-header h1 {
    float: left;
    font-size: 2.5em;
    margin-left: 2em;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .content {
    width: 29%;
    margin: 1em;
  }

}