/* Universal*/
* {
  font-family: 'Abel', 'Bebas Neue', sans-serif;
  box-sizing: border-box;
}

/* Clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both;
}

/*=============
 Element Styles
============*/
h1,
h2,
h3 {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #d48855;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
  color: black;
}

/*=============
 Layout Styles
============*/
/* Nav */
.main-nav li {
  text-transform: uppercase;
  background-color: #fff;
  margin-bottom: .2em;
  padding: .5em 0;
}

.main-nav li:active {
  background-color: #d48855;
}

/* Elements */
.fig-port {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2em;
}
  .fig-port img {
    width: 70%;
  }

  .fig-port figcaption {
    padding-top: 1em;
  }

.content {
  padding-bottom: 1em;
}

.main-footer li {
  display: inline;
}

.contact {
  color: black;
  padding-left: .5em;
}

.footer-bottom * {
  margin-top: 1em;
  display: inline-block;
  text-transform: uppercase;
  color: black;
}

  .footer-bottom span {
    float: left;
  }

  .footer-bottom a {
    float: right;
  }

/* Containers */
.main-header,
.main-footer {
  background: #f7f7f7;
  width: 100%;
  padding: 1em;
  color: #888;
}

.main-header,
.main-footer,
.wrapper {
  text-align: center;
}

.footer-bottom {
  border-top: #dddddd 1px solid;
  margin-top: 2em;
}

/*=============
 Media Queries
============*/
/* Tablet 768px */

/* Laptop 1024px */